/* Fonts */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('../font/Lato-ThinItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  src: url('../font/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 800;
  src: url('../font/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../font/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../font/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: url('../font/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 200;
  src: url('../font/Lato-LightItalic.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('../font/Lato-Thin.ttf');
}
