@media only screen and (max-width: 600px) {
  header {
    display: none;
  }

  .container {
    width: auto;
    max-width: 95vw;
    margin-left: 2em;
    margin-right: 2em;
  }

  .content-section {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .footer-section {
    margin-bottom: 2em;
  }

  .footer-container {
    width: auto;
  }

  .hero-section h2 {
    max-width: 70vw;
    text-align: center;
  }

  .hero-container {
    margin-top: 0em !important;
  }

  .hero-section .welcome-img {
    width: 100% !important;
    height: unset;
  }

  .hero-section .carousel-button {
    opacity: 0.5 !important;
    background-size: 20px;
  }

  .about-section {
    padding-top: 3em !important;
  }

  .about-section .about-img {
    margin-right: 1em !important;
  }

  .events-container {
    margin-top: 1em !important;
  }

  .event i {
    display: none;
  }

  .exec-container {
    margin-left: 1em;
    margin-right: 1em;
  }

  .exec {
    width: 35vw;
  }

  .profile-container img {
    height: 40vw;
    width: 40vw;
    margin-bottom: 0.5em;
  }
}
